/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply text-gray-900;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply text-2xl md:text-3xl lg:text-5xl
  font-black
  mb-4 md:mb-8 lg:mb-12;
}

.lead-copy {
  @apply text-lg text-gray-700
  lg:text-2xl;
}

h2 {
  @apply font-black text-xl md:text-2xl lg:text-4xl mb-5;
}

h3 {
  @apply text-lg font-bold lg:text-xl;
}

h4 {
  @apply text-xl font-bold;
}

.copy {
  @apply text-base sm:text-lg xl:text-xl text-gray-700;
}

.datenschutz h3,
p {
  @apply mb-4;
}

@media screen and (min-width: 768px) {
  .newsletter {
    max-width: 346px;
  }
}
